<!--<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project</title>
</head>
<body>
    <p>Get your student <a href="/student">here</a></p>
    <h1>Spring Boot!</h1>
</body>
</html> -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AboutMe</title>

    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <script src="/js/main.js" defer></script>
</head>
<body>
    <h1>About Me page!</h1>

    <p th:text="'Sveiks, tevi sauc ' + ${name}"></p>
    <p th:text="'Tavs uzvārds: ' + ${surname}"></p>
    <p th:text="'Tavs vecums ir ' + ${age}"></p>
    <p th:text="'Tu esi ' + ${group} + ' grupā'"></p>

    <p>Get your student <a href="/student">here</a></p>

    <p th:text="${name}"></p>
    <p th:text="${surname}"></p>
    <p th:text="${age}"></p>
    <p th:text="${group}"></p>
</body>
</html>